<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="distinctEvent">
            <h2><span>Distinct Event</span> {{ distinctEvent.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Provider</span></dt>
                <dd>
                    <span>{{ distinctEvent.provider }}</span>
                </dd>
                <dt><span>Dataset</span></dt>
                <dd>
                    <span>{{ distinctEvent.dataset }}</span>
                </dd>
                <dt><span>Sel</span></dt>
                <dd>
                    <span *ngFor="let sel of distinctEvent.sels; let last = last">
                        <a [routerLink]="['/sel', sel?.id, 'view']">{{ sel.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/distinct-event', distinctEvent.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
