<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sel">
            <h2><span>Sel</span> {{ sel.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ sel.name }}</span>
                </dd>
                <dt><span>Rhel</span></dt>
                <dd>
                    <span>{{ sel.rhel }}</span>
                </dd>
                <dt><span>Distinct Event</span></dt>
                <dd>
                    <span *ngFor="let distinctEvent of sel.distinctEvents; let last = last">
                        <a [routerLink]="['/distinct-event', distinctEvent?.id, 'view']">{{ distinctEvent.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span>Distinct Event</span></dt>
                <dd>
                    <span *ngFor="let distinctEvent of sel.distinctEvents; let last = last">
                        <a [routerLink]="['/distinct-event', distinctEvent?.id, 'view']">{{ distinctEvent.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sel', sel.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
