<div>
    <h2 id="page-heading">
        <span>Sels</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sel" [routerLink]="['/sel/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Sel
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="sels?.length === 0">
        <span>No sels found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="sels?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Name</span></th>
                    <th scope="col" ><span>Rhel</span></th>
                    <th scope="col" ><span>Distinct Event</span></th>
                    <th scope="col" ><span>Distinct Event</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sel of sels ;trackBy: trackId">
                    <td><a [routerLink]="['/sel', sel.id, 'view']">{{ sel.id }}</a></td>
                    <td>{{ sel.name }}</td>
                    <td>{{ sel.rhel }}</td>
                    <td>
                        <span *ngFor="let distinctEvent of sel.distinctEvents; let last = last">
                            <a class="form-control-static" [routerLink]="['/distinct-event', distinctEvent?.id, 'view']">{{ distinctEvent.id }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td>
                        <span *ngFor="let distinctEvent of sel.distinctEvents; let last = last">
                            <a class="form-control-static" [routerLink]="['/distinct-event', distinctEvent?.id, 'view']">{{ distinctEvent.id }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/sel', sel.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/sel', sel.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(sel)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
